* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgCarousel {
  display: none;
  width: 100vw;
  height: auto;
}

.bgOrange {
  background-color: orange;
}

.textOrange {
  color: orange;
}

/* TESTIMONIOS.HTML */
.card--img__rounded_ {
  /* height: 150px;
  width: 150px; */
  height: 13rem;
  width: 13rem;
  align-self: center;
  border-radius: 50%;
}

.card--img__marco_ {
  border: 5px solid rgba(128, 128, 128, 0.3);
  padding: 5px;
  border-radius: 50%;
}

/* CLASES PARA PRACTICA DE FLEX */
/* div {
  border: 1px solid rgba(0, 0, 255, 0.488);
  background-color: aquamarine;
}
 */
